@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.text_presence{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.toOnc{
    color: rgb(0, 188, 201);
    cursor: pointer;
}

.toOnc:hover{
    cursor: pointer;
}

.head_color_presence{
    color: rgb(255, 255, 255);
    background-color: rgb(113, 66, 214);
    font-weight: 300;
}